<div class="row charts">
    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Chart Line</h6>
          <a class="btn ml-auto p-0 text-lightning" routerLink="/charts"> <i class="fas fa-ellipsis-h"></i> </a>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
            <chart [type]="type" [data]="data" [options]="options"></chart>

          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Chart Bar</h6>
          <a class="btn ml-auto p-0 text-lightning" routerLink="/charts"> <i class="fas fa-ellipsis-h"></i> </a>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
              <img src="./assets/img/chartbar.PNG" id="chart-bar" width="500px" height="250">

          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 mb-4 align-items-stretch">
      <div class="card h-100 border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Chart Doughnut</h6>
          <a class="btn ml-auto p-0 text-lightning" routerLink="/charts"> <i class="fas fa-ellipsis-h"></i> </a>
        </div>
        <div class="card-body">
          <div class="chart-container d-flex h-100 align-items-center justify-content-center" style="position: relative;">
              <img src="./assets/img/chartdonut.PNG" id="chart-donut" width="500px" height="250">

          </div>
        </div>
        <div class="card-footer">
          <div class="legend d-flex just">
            <div class="flex-fill text-center"><span class="d-inline-block rounded-circle mr-2"
                style="background: #5b6582;"></span><small>Apple</small></div>
            <div class="flex-fill text-center"><span class="d-inline-block rounded-circle mr-2"
                style="background: #98a4c7;"></span><small>Samsung</small></div>
            <div class="flex-fill text-center"><span class="d-inline-block rounded-circle mr-2"
                style="background: #36a2eb;"></span><small>Others</small></div>
          </div>

        </div>
      </div>
    </div>